#mainfooter {
  -webkit-box-shadow: 0 -14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 -14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00385b;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  height: 50px;
}
